body {
	margin: 0;
	font-family: monospace;
	overflow: hidden;
}
canvas {
	cursor: crosshair;
	position: absolute;
	background: black;
}
div#left-side {
	padding: 10px;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    overflow-y: auto;
}

h3 {
	margin: 10px 0 5px;
	color: #333;
	font-family: Lato;
}

h3:first-child {
	margin-top: 0;
}

h3 + div {			
	padding-left: 10px;
}


button, .button {
	text-decoration: none;
	color: black;
	display: inline-block;
	padding: 3px 6px;
	font-size: 15px;
	margin: 2px 4px;
	border: 1px solid rgba(0,0,0,0.2);
	cursor: pointer;
}
button:hover, .button:hover {
	background: #DEF;
}
button.active, .button.active {
	background: #9AB;
	color: white;
}

#effects {
	margin: 0;
	padding: 0;
}

#remove-effects {
	background: #E77;
	color: white;
}

#remove-effects:hover {
	background: #E55;
}

#effects li {
	list-style: none;
	display: inline-block;
}

.options > div {
	margin: 5px;
	height: 20px;
	line-height: 20px;
	display: flex;
}

.options > div > label {
	min-width: 140px;
}

.options > div.number > input[type="text"] {
  width: 60px;
  border: 1px solid #AAA;
  background-color: #EEE;
  border-radius: 4px;
  text-align: center;
  color: #333;
  margin: 0 5px;
  outline: none !important;
  font-family: Arial;
  font-size: 12px;
}

.options > div.string > input[type="text"] {
	width: 200;
	border: none;
	border-bottom: 1px solid #AAA;
	outline: none;
	text-align: center;
	font-family: monospace;
	font-size: 12px;
}

.options > div.string > input[type="text"]:focus {
	border-bottom: 1px solid #09f;
}

div.color {
	display: flex;
	margin: 5px 0;
}



div.color button.color-box {
	width: 100px;
	margin: 0 5px;
	cursor: pointer;
	box-sizing: border-box;
	border: 1px solid #AAA;
}

div.color button.color-box.active {
	border: 1px solid #000;
}

#color-picker {
	position: absolute;
	border-radius: 500px;
	cursor: pointer;
}